body{
    margin:0;
}

#header{
    margin:0;
    height:40px;
    background-color: antiquewhite;
}

#NavBar{
    display: flex;
    height:40px;
    justify-content: space-around;
    align-items: center;
}

#colorChange{
    height:100px;
    background-color: aqua;
}

#control{
    height:40px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

#main{
    height:400px;
    text-align: center;
    align-content: center;
}