*{
    box-sizing: border-box;
}

#heading{
    display: flex;
    margin:10px;
    height: 40px;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
}

button{
    margin:10px;
    height:60px;
    width:60px;
    font-size: 20px;
    box-sizing: border-box;
}

#game{
    position: relative;
    height:400px;
    grid-template-columns: auto;
    gap:5px;
    align-content: center;
    margin: auto;
    top:50px;
}

.row{
    display: flex;
    position: relative;
    justify-content: center;
}